.sunset {
	font-family: Cooper Black, Cambria, Georgia, Times, sans-serif;
}
.sunset .karaoke-display {
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center center;
	font-family: Cooper Black, Cambria, Georgia, Times, sans-serif;
	color: #888;
	text-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc, -1px 1px 1px #ccc, 1px -1px 1px #ccc;
}
.sunset .karaoke-display .active {
	color: red;
}
.sunset .karaoke-display .inactive {
	color: #000;
}
.sunset .karaoke-display .next {
	color: #888;
}
.sunset .karaoke-display .previous {
	color: #888;
}
