.christmas {
	font-family: Cooper Black, Cambria, Georgia, Times, sans-serif;
}
.christmas .karaoke-display {
	background-image: url(christmas01.jpg);
	background-size: cover;
	background-position: center center;
	font-family: Cooper Black, Cambria, Georgia, Times, sans-serif;
	color: #888;
	text-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc, -1px 1px 1px #ccc, 1px -1px 1px #ccc;
}
.christmas .karaoke-display .active {
	color: #B00;
}
.christmas .karaoke-display .active.last {
	color: #F44;
}
.christmas .karaoke-display .inactive {
	color: #040;
}
.christmas .karaoke-display .next {
	color: #484;
}
.christmas .karaoke-display .previous {
	color: #4A4;
}
